# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# node_modules
# dist
# dist-ssr
# *.local

# # Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?

# .env

# # vscode
# .vscode



# Ignore everything
*

# But not this file itself
!.gitignore

# Don't ignore the build/dist folder and its contents
!build/
!build/dist/
!build/dist/**

